@font-face {
  font-family: "Avenir Next";
  src: url("https://ezra-axpara.github.io/test/AvenirNext-Regular.ttf");
}
*{
   font-family: "Avenir Next", monospace !important;
}
#swagger-ui {
  font-family: "Avenir Next", monospace !important;
}
#swagger-ui .topbar {
  background-color: #8c4799;
}
